.responsive-table {
  overflow-x: auto;
}

tr:has(th) {
  background-color: #f9fafc;
  border-radius: 40px;
}

th,
td {
  margin: 0;
  padding: 15px;
  text-align: center;
}

.product-image {
  width: 150px;
  height: auto;
}

@media screen and (min-width: 600px) {
  .responsive-table {
    justify-content: center;
  }
}

.btn {
  padding: 20px;
  background-color: #f3d428;
  color: #193155;
  border-radius: 20px;
  margin: 20px;
  text-decoration: none;
}
